<h1>Stupid Coaching</h1>
<div id="answer">
<p><%= params[:input_name] %></p>
<p> -You</p>
</div>

<div id="coach">
<p><%= @ans %></p>
<p>-Your Coach</p>
</div>
<%= link_to "Ask another question", ask_path %>
