<h1>Stupid coaching</h1>
<h3>Ask your coach anything</h3>

<form action="/answer" method="GET">
  <input type="text" name="input_name" id="input">
  <input type="submit" value="Ask" id="btn">
</form>
